.panel-footer {
    background-color: #c4908297
  }
  .heading {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -20px;
    background-image: linear-gradient(#406461, #76D7C4);
    height: 200px;
    font-size: 1cm
    
  }
  body {
    background: #86b0b8;
    background: -webkit-linear-gradient(#648880, #293f50);
    background:    -moz-linear-gradient(#648880, #293f50);
    background:         linear-gradient(#648880, #293f50);
  }
  
  .jumbotron{
    background: #a5cec5;
   background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
  }
  
  #well1 {
    font-family: 'Luckiest Guy', cursive;
  font-family: 'Special Elite', cursive;
  font-family: 'Roboto Mono', monospace;
  }
  
  .well {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  }