.panel-footer {
    background-color: #b2655097
  }
  
  body {
    background: #466368;
    background: -webkit-linear-gradient(#648880, #293f50);
    background:    -moz-linear-gradient(#648880, #293f50);
    background:         linear-gradient(#648880, #293f50);
  }
  
  .jumbotron{
    background: #648880;
   background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
  }
  
  #well1 {
    font-family: 'Luckiest Guy', cursive;
  font-family: 'Special Elite', cursive;
  font-family: 'Roboto Mono', monospace;
  }
  
  .well {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  }